---
layout: default
---

<div class="posts">
	{% for post in site.posts %}
	<article class="post">

		<h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

		<div class="date">
			Written on {{ post.date | date: "%B %e, %Y" }}
		</div>

		<div class="entry">


			{% assign foundImage = 0 %}
			{% assign images = post.content | split:"<img " %}
			{% for image in images %}
				{% if image contains 'src' %}

				{% if foundImage == 0 %}
					{% assign html = image | split:"/>" | first %}
						<a href="{{ site.baseurl }}{{ post.url }}"><img style="height:60px; float:left; padding:0px 15px 5px 0px;" {{ html }} /></a>
						{% assign foundImage = 1 %}
					{% endif %}
				{% endif %}
			{% endfor %}

			{{ post.excerpt }}

		</div>
		
  
		<a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
	
	</article>
	{% endfor %}
</div>